<h2>My dictionary has <%= @words.count %> words saved.</h2>

<%= link_to 'Save a new word', words_new_path %>

<table>
  <caption>My English dictionary</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meaning</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <% if @words.count > 0 %>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.name %></td>
          <td><%= word.meaning %></td>
          <td><%= word.example %></td>
          <td><%= link_to 'See more', word_path(word) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>