<% content_for(:title, "Look into - dictionary") %>

<h2><%= pluralize(@words.length, "word") %> found.</h2>

<%= link_to 'Save a new word', words_new_path %>

<hr>

<%= form_tag words_path, :method => "get" do %>
  <%= label_tag(:search, "Search a word") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meaning</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <% if @words.count > 0 %>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.name %></td>
          <td><%= word.meaning %></td>
          <td><%= word.example %></td>
          <td><%= link_to 'See more', word_path(word) %></td>
          <td><%= link_to 'Edit', word_edit_path(word) %></td>
          <td><%= link_to 'Delete', word_path(word), data: { method: :delete, confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>